<a href="https://colab.research.google.com/github/Meaiie/python_dataviz2024/blob/main/Function_Loop_Condition_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 Note

In [ ]:
inp = '12:30:15-13:41:07'
inp_split = inp.split('-')
inp_split

['12:30:15', '13:41:07']

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():  #ตัวอย่าง Fuction ที่ไม่มีทั้ง input และ output
    print('Siriyaporn')

In [ ]:
print_myname()

Siriyaporn

In [ ]:
def print_name(surname,ID,name):    #ตัวอย่าง fuction ที่มี input หลายตัว และ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print(print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID ='603021855-2') #มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID ='603021855-2') #ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):  #สามารถ set ค่า default ของตัวแปรไว้ได้ (เปลี่ยนค่าตอนเรียกใช้ได้)
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8') #ถ้าใส่ input ไม่ครบ 3 ก็จะ error

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

# Quiz3 เขียน function ที่รับ input 1 ตัว ตาม Format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหาช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง time1  และ time2 โดยไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def time_diff(time):
    split_time = time.split('-')
    time1 = split_time[0]
    time2 = split_time[1]
    time1_split = time1.split(':')
    time2_split = time2.split(':')
    h1 = time1_split[0]
    m1 = time1_split[1]
    s1 = time1_split[2]
    h2 = time2_split[0]
    m2 = time2_split[1]
    s2 = time2_split[2]
    timediff = (int(h2)-int(h1))*3600 + (int(m2)-int(m1))*60 + (int(s2)-int(s1))
    print(f'ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง {time1_split} และ {time2_split} คือ {timediff}')

In [ ]:
time_diff('12:30:15-13:41:07')

ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง ['12', '30', '15'] และ ['13', '41', '07'] คือ 4252

# Quiz3.5
รับ input 2 ตัว โดยตั้งค่า default time 1 เป็น 00:00:00

In [ ]:
def time_diff2(time2,time1 = '00:00:00'):
    time1_split = time1.split(':')
    time2_split = time2.split(':')
    h1 = time1_split[0]
    m1 = time1_split[1]
    s1 = time1_split[2]
    h2 = time2_split[0]
    m2 = time2_split[1]
    s2 = time2_split[2]
    timediff = (int(h2)-int(h1))*3600 + (int(m2)-int(m1))*60 + (int(s2)-int(s1))
    print(f'ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง {time1_split} และ {time2_split} คือ {timediff}')

In [ ]:
time_diff2 ('12:30:15')

ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง ['00', '00', '00'] และ ['12', '30', '15'] คือ 45015

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

## HW2
วนลูป หาค่า ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 ต่อไปนี้
1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

In [35]:
time_stamp = ['18:09:10-18:25:10','13:38:39-23:54:39','16:49:58-18:05:58','21:49:10-22:24:10',
              '08:52:21-09:25:21','06:56:26-07:49:26','12:08:05-12:43:05','01:48:38-07:18:38',
              '08:51:21-10:17:21','17:05:17-18:09:17']
print(time_stamp)

['18:09:10-18:25:10', '13:38:39-23:54:39', '16:49:58-18:05:58', '21:49:10-22:24:10', '08:52:21-09:25:21', '06:56:26-07:49:26', '12:08:05-12:43:05', '01:48:38-07:18:38', '08:51:21-10:17:21', '17:05:17-18:09:17']

In [18]:
# การเก็บ data แบบนี้จะแก้ไข Data ข้างในไม่ได้
# ใช้วงเล็บ ()
Time_ex = [('18:09:10,18:25:10'),('13:38:39,23:54:39'),('16:49:58,18:05:58'),('21:49:10,22:24:10')]
Time_ex

['18:09:10,18:25:10',
 '13:38:39,23:54:39',
 '16:49:58,18:05:58',
 '21:49:10,22:24:10']

In [33]:
def time_diff3(time):
    split_time = time.split('-')
    time1 = split_time[0]
    time2 = split_time[1]
    time1_split = time1.split(':')
    time2_split = time2.split(':')
    h1 = time1_split[0]
    m1 = time1_split[1]
    s1 = time1_split[2]
    h2 = time2_split[0]
    m2 = time2_split[1]
    s2 = time2_split[2]
    hh = int(h2)-int(h1)
    mm = int(m2)-int(m1)
    ss = int(s2)-int(s1)
    if ss < 0:
        ss += 60
        mm -= 1
    if mm < 0:
        mm += 60
        hh -= 1
    timediff = hh*3600 + mm*60 + ss
    return timediff

In [36]:
for i in time_stamp :
  Time_diff_sec = time_diff3(i)
  print(f'ช่วงเวลาเป็นวินาทีที่ต่างกันคือ {Time_diff_sec} วินาที')

ช่วงเวลาเป็นวินาทีที่ต่างกันคือ 960 วินาที
ช่วงเวลาเป็นวินาทีที่ต่างกันคือ 36960 วินาที
ช่วงเวลาเป็นวินาทีที่ต่างกันคือ 4560 วินาที
ช่วงเวลาเป็นวินาทีที่ต่างกันคือ 2100 วินาที
ช่วงเวลาเป็นวินาทีที่ต่างกันคือ 1980 วินาที
ช่วงเวลาเป็นวินาทีที่ต่างกันคือ 3180 วินาที
ช่วงเวลาเป็นวินาทีที่ต่างกันคือ 2100 วินาที
ช่วงเวลาเป็นวินาทีที่ต่างกันคือ 19800 วินาที
ช่วงเวลาเป็นวินาทีที่ต่างกันคือ 5160 วินาที
ช่วงเวลาเป็นวินาทีที่ต่างกันคือ 3840 วินาที

# จบวันที่ 7 มค 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [22]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิ.ย.

## Dictionary (data structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยอ้างอิงโดย text

วงเล็บที่ใช้เป็นวงเล็บปีกกา {} Curly Brxckets

In [4]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}
## จริงๆ จัดเก็บ dict ก็ได้
## ใช้มากในการสร้างตาราง

In [6]:
Ex_dict_B = {'K' : 'Kenma','K2':'Kageyama','D':Ex_dict_A}
Ex_dict_B

{'K': 'Kenma',
 'K2': 'Kageyama',
 'D': {'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}}

In [3]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [10]:
Ex_dict_A['memberA'][1]
## เลือกสมาชิกในลิสต์ของ memberA

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [1]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [11]:
name_grade['ปนัดดา']

'A'

In [12]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [13]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [14]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

# conditional statement คือ เงื่อนไข /ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อง  Boolean(True/false)

In [19]:
condition_1 = True
condition_2 = False


### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [42]:
time_2 = ['18:09:10-18:25:10','13:38:39-23:54:39','16:49:58-18:05:58','21:49:10-22:24:10',
          '08:52:21-09:25:21','06:56:26-07:49:26','12:08:05-12:43:05','01:48:38-07:18:38',
          '08:51:21-10:17:21','17:05:17-18:09:17','18:51:21-00:17:21','17:0517-11:09:17']
time_2

['18:09:10-18:25:10',
 '13:38:39-23:54:39',
 '16:49:58-18:05:58',
 '21:49:10-22:24:10',
 '08:52:21-09:25:21',
 '06:56:26-07:49:26',
 '12:08:05-12:43:05',
 '01:48:38-07:18:38',
 '08:51:21-10:17:21',
 '17:05:17-18:09:17',
 '18:51:21-00:17:21',
 '17:0517-11:09:17']

In [39]:
def time_diff4(time):
    split_time = time.split('-')
    time1 = split_time[0]
    time2 = split_time[1]
    time1_split = time1.split(':')
    time2_split = time2.split(':')
    hh = (int(time2_split[0])*3600)-(int(time1_split[0])*3600)
    mm = (int(time2_split[1])*60)-(int(time1_split[1])*60)
    ss = int(time2_split[2])-int(time1_split[2])
    timediff = hh + mm + ss
    return timediff

In [44]:
for i in time_2 :
  time_fs = time_diff4(i)
  print(f'ช่วงเวลาที่ห่างกันคือ {time_fs}')

ช่วงเวลาที่ห่างกันคือ 960
ช่วงเวลาที่ห่างกันคือ 36960
ช่วงเวลาที่ห่างกันคือ 4560
ช่วงเวลาที่ห่างกันคือ 2100
ช่วงเวลาที่ห่างกันคือ 1980
ช่วงเวลาที่ห่างกันคือ 3180
ช่วงเวลาที่ห่างกันคือ 2100
ช่วงเวลาที่ห่างกันคือ 19800
ช่วงเวลาที่ห่างกันคือ 5160
ช่วงเวลาที่ห่างกันคือ 3840
ช่วงเวลาที่ห่างกันคือ -66840

IndexError: list index out of range

# HW3 เพิ่ม ฟังชันก์แปลงวินาทีกลับมาเป็นชั่วโมง นาที วินาที โดยไม่ใช้ฟังชันก์ช่วยเหลืออื่นๆ ของ python(import) ถ้าส่วนของชั่วโมง นาที วินาที เป็นศูนย์ไม่ต้องแสดง

In [28]:
for name1 in list_friends :
    for name2 in list_friends :
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก ดายน์
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก แตงโม
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก ฝน
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [25]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 != name2: #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

In [26]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
ดายน์ รัก ดายน์
แตงโม รัก แตงโม
ฝน รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [27]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2:
            'do nothing'
        else:
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

#### Operator
== เท่ากัน ,!= ไม่เท่า , >= , <= , < , > \
& and , | or , in , is

In [45]:
if True & True :
  print(True & True)

True

In [48]:
if (1>0) & (0>-1):
  print(True & True)

True

In [50]:
if 'K' in 'Kenma':
  print('K is Kenma')

K is Kenma

In [62]:
def return_nothing(x):
  x =x+1

In [65]:
if return_nothing(5) is None :
  print('x is null')
  ## เกิดจากฟังชันก์ไม่ได้ return อะไร

x is null

In [ ]:
'พี่บูม' == 'พี่เจ็ท'

False

In [ ]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [ ]:
if True:
    print('Yes')

Yes

In [ ]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [ ]:
if False:
    print('Yes')
else:
    print('No')

No

# HW4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

# Finish